In [1]:
print(1 + 2 + 3 + 4 + 5)

15

In [2]:
print('*' * 40)
print('# ' * 20)

****************************************
# # # # # # # # # # # # # # # # # # # #

In [5]:
a, b =input('Enter two integers: ').split()
a, b = int(a), int(b)

if a > b :
    a, b = b, a

print(a, b)

Enter two integers: 14 10
10 14

In [9]:
for i in range(2, 13) :
    count = 0
    for j in range(1, i + 1) :
        if i % j == 0 :
            count += 1
            
    if count == 2 :
        print(i, 'is a prime number.')
    else :
        print(i, 'is a composite number.')

2 is a prime number.
3 is a prime number.
4 is a composite number.
5 is a prime number.
6 is a composite number.
7 is a prime number.
8 is a composite number.
9 is a composite number.
10 is a composite number.
11 is a prime number.
12 is a composite number.

# 5

In [192]:
amstrong = []

for i in range(100, 1000) :
    result = 0
    x = i
    temp = str(x)
    temp = list(temp)
    
    for j in range(len(temp)) :
        y = temp[j] 
        y = int(y)
        result += pow(y, 3)
    
    if result == i :
        amstrong.append(result)
        
print('Three-digit Amstrong numbers: ', end = '')
print(*amstrong)

Three-digit Amstrong numbers: 153 370 371 407

In [197]:
for i in range(100, 1000) :
    num = list(str(i))
    summ = int(num[0])**3 + int(num[1]) ** 3 + int(num[2]) ** 3
    if summ == i :
        print(summ)

153
370
371
407

In [ ]:
li = 100
li = str(li)
x = list(li)

for i in range(len(x)) :
    x[i] = int(x[i])

print(x)

In [29]:
l1 = ['I like', 'I love']
l2 = ['Pancake', 'Kiwi Juice', 'Expresso']

for i in range(len(l1)) :
    for j in range(len(l2)) :
        print('{} {}.'.format(l1[i], l2[j].lower()))

I like pancake.
I like kiwi juice.
I like expresso.
I love pancake.
I love kiwi juice.
I love expresso.

# 7

In [41]:
lst = [5, 6, 3, 9, 2, 12, 3, 8, 7]

print('Given list = ', lst)

for i in range(len(lst) - 1) :
    if lst[i] > lst[i + 1] :
        lst[i], lst[i+1] = lst[i+1], lst[i]

print('Result list = ',lst)

Given list =  [5, 6, 3, 9, 2, 12, 3, 8, 7]
Result list =  [5, 3, 6, 2, 9, 3, 8, 7, 12]

# 8

In [36]:
scores = (('Hyun', 88, 95, 90), ('Kang', 85, 90, 95), ('Park', 70, 90, 80), ('Hong', 90, 90, 95))

In [2]:
scores = (('Hyun', 88, 95, 90), ('Kang', 85, 90, 95), ('Park', 70, 90, 80), ('Hong', 90, 90, 95))

lst = []
for i in range(len(scores)) :
    for j in range(1, len(scores)) :
        lst.append(scores[i][j])
lst = tuple(lst)
print(lst)

total = sum(lst)
avg = total / 12
print(avg)

(88, 95, 90, 85, 90, 95, 70, 90, 80, 90, 90, 95)
88.16666666666667

In [4]:
(88 + 95 + 90) / 3

91.0

In [5]:
(85 + 90 + 95) / 3

90.0

In [6]:
(70 + 90 + 80) / 3

80.0

In [8]:
(90 + 90 + 95) / 3

91.66666666666667

In [10]:
(91.0+90 +80 + 91.666)/4

88.1665

# 9

In [42]:
PI = 3.14
r = 7
circum = 2 * PI * r
area = PI * r * r
print('The area of a circle', area)
print('The circumference of a circle', circum)

The area of a circle 153.86
The circumference of a circle 43.96

# 10

In [53]:
print(int('50') + 50)
print(str(50) + '50')

100
5050

In [54]:
print(int('1' + '0' + '0' + '0'))

1000

In [59]:
n = int(input())
fact = 1
for i in range(1, N + 1) :
    fact *= i
print('{}! = {}'.format(N, fact))

3
3! = 6

In [68]:
height = int(input())
weight = int(input())

height = height / 100
BMI = weight / (height ** 2)
print('{:.2f}'.format(BMI))

180
70
21.60

In [69]:
width, height = 30, 60
print(width * height)

1800

In [72]:
from math import sqrt
a = int(input())
b = int(input())
c = sqrt(pow(a, 2) + pow(b, 2))
print(c)

3
4
5.0

In [73]:
n = int(input())

for a in range(1, 10) :
    print('{} * {} = {}'.format(a, n, a * n))

2
1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18

In [79]:
year = int(input('Please enter the year: '))
print((year % 4 == 0 and year % 100 != 0) or (year % 400 == 0))

Please enter the year: 2023
False

In [81]:
N = int(input())
if N % 2 == 0 :
    print('False')
else :
    print('True')

20
False

# 19

In [85]:
n = int(input())
print((n % 2 == 1) and (n >= 0 and n <= 10))

12
False

In [90]:
n = int(input())
print(n >= 300 and n < 400)

222
False

In [95]:
n = int(input())
print(n % 5 == 0)

125
True

In [99]:
a, b, c = 2, 3, 9
num1, num2, num3 = input('Please enter three lottery numbers : ').split()
num1, num2, num3 = int(num1), int(num2), int(num3)

count = 0 

if num1 == a or num1 == b or num1 == c :
    count += 1
if num2 == a or num2 == b or num2 == c :
    count += 1
if num3 == a or num3 == b or num3 == c :
    count += 1
    
if count == 3 :
    print('You won the lottery!')

Please enter three lottery numbers : 3 2 9
You won the lottery!

In [105]:
n = int(input())
if n >= 0 and n <= 100 :
    print('Natural number')

50
Natural number

# 24

In [113]:
age, height = input().split()
age, height = int(age), int(height)

if age > 0 and age < 10 :
    print('Kid')
if age >= 10 and age < 20 :
    print('Youth')
if age >= 20 :
    print('Adult')
    
if age >= 10 and height >= 110 :
    print('You can enter')

20 180
Adult
You can enter

In [198]:
import random as rd

r = rd.randint(0, 2)
if r == 0 :
    computer = 'left'
elif r == 1 :
    computer = 'center'
elif r == 2 :
    computer = 'right'
    
user = input('Enter a position (left, center, right): ')
print('Computer defense position:', computer)
if user == computer :
    print('No Goal')
else :
    print('Goal')

Enter a position (left, center, right): right
Computer defense position: left
Goal

In [204]:
ch = input()
vowel = ['a', 'e', 'i', 'o', 'u']
if ch in vowel :
    print('Vowel')
else :
    print('Consonent')

i
Vowel

In [16]:
x, y = input().split()
x, y = float(x), float(y)

if x > 0 and y > 0 :
    print(1)
elif x < 0 and y > 0 :
    print(2)
elif x < 0 and y < 0 :
    print(3)
elif x > 0 and y < 0 :
    print(4)

1.5 -2
4

In [22]:
person1 = ['David Doe', 20, 1, 180.0, 100.0]
person2 = ['John Smith', 25, 1, 170.0, 70.0]
person3 = ['Jane Carter', 22, 0, 169.0, 60.0]
person4 = ['Peter Kelly', 40, 1, 150.0, 50.0]

person = person1 + person2 + person3 + person4

age = person[1::5]
avg = sum(age) / len(age)
print(avg)

26.75

In [35]:
s_list = []
s_list = (input()).split()

shortest = s_list[0]
for i in s_list :
    if len(shortest) > len(i) :
        shortest = i
        
print(shortest)

abc bcd bcdefg abba cddc opq
abc

# 30

In [ ]:
abc bcd bcdefg abba cddc opq

In [38]:
s_list = []
s_list = input().split()

shortest = s_list[0]
shortest_string = []
for i in s_list :
    if len(shortest) > len(i) :
        shortest = i

for i in s_list :
    if len(shortest) == len(i) :
        shortest_string.append(i)
        
print(*shortest_string, sep = ', ')

abc bcd bcdefg abba cddc opq
abc, bcd, opq

In [39]:
bread = ['Rye bread', 'Wheat', 'White']
meat = ['Meatball', 'Sausages', 'Chicken breast']
vegetable = ['Lettuce', 'Tomato', 'Cucumber']
sauce = ['Mayonnaise', 'Honey mustard', 'Chili sauce']

print("Possible combinations of David's sandwich shops")

for b in bread :
    for m in meat :
        for v in vegetable :
            for s in sauce :
                print(b, '+', m, '+', v, '+', s)

Possible combinations of David's sandwich shops
Rye bread + Meatball + Lettuce + Mayonnaise
Rye bread + Meatball + Lettuce + Honey mustard
Rye bread + Meatball + Lettuce + Chili sauce
Rye bread + Meatball + Tomato + Mayonnaise
Rye bread + Meatball + Tomato + Honey mustard
Rye bread + Meatball + Tomato + Chili sauce
Rye bread + Meatball + Cucumber + Mayonnaise
Rye bread + Meatball + Cucumber + Honey mustard
Rye bread + Meatball + Cucumber + Chili sauce
Rye bread + Sausages + Lettuce + Mayonnaise
Rye bread + Sausages + Lettuce + Honey mustard
Rye bread + Sausages + Lettuce + Chili sauce
Rye bread + Sausages + Tomato + Mayonnaise
Rye bread + Sausages + Tomato + Honey mustard
Rye bread + Sausages + Tomato + Chili sauce
Rye bread + Sausages + Cucumber + Mayonnaise
Rye bread + Sausages + Cucumber + Honey mustard
Rye bread + Sausages + Cucumber + Chili sauce
Rye bread + Chicken breast + Lettuce + Mayonnaise
Rye bread + Chicken breast + Lettuce + Honey mustard
Rye bread + Chicken breast + Lettuce + Chili sauce
Rye bread + Chicken breast + Tomato + Mayonnaise
Rye bread + Chicken breast + Tomato + Honey mustard
Rye bread + Chicken breast + Tomato + Chili sauce
Rye bread + Chicken breast + Cucumber + Mayonnaise
Rye bread + Chicken breast + Cucumber + Honey mustard
Rye bread + Chicken breast + Cucumber + Chili sauce
Wheat + Meatball + Lettuce + Mayonnaise
Wheat + Meatball + Lettuce + Honey mustard
Wheat + Meatball + Lettuce + Chili sauce
Wheat + Meatball + Tomato + Mayonnaise
Wheat + Meatball + Tomato + Honey mustard
Wheat + Meatball + Tomato + Chili sauce
Wheat + Meatball + Cucumber + Mayonnaise
Wheat + Meatball + Cucumber + Honey mustard
Wheat + Meatball + Cucumber + Chili sauce
Wheat + Sausages + Lettuce + Mayonnaise
Wheat + Sausages + Lettuce + Honey mustard
Wheat + Sausages + Lettuce + Chili sauce
Wheat + Sausages + Tomato + Mayonnaise
Wheat + Sausages + Tomato + Honey mustard
Wheat + Sausages + Tomato + Chili sauce
Wheat + Sausages + Cucumber + Mayonnaise
Wheat + Sausages + Cucumber + Honey mustard
Wheat + Sausages + Cucumber + Chili sauce
Wheat + Chicken breast + Lettuce + Mayonnaise
Wheat + Chicken breast + Lettuce + Honey mustard
Wheat + Chicken breast + Lettuce + Chili sauce
Wheat + Chicken breast + Tomato + Mayonnaise
Wheat + Chicken breast + Tomato + Honey mustard
Wheat + Chicken breast + Tomato + Chili sauce
Wheat + Chicken breast + Cucumber + Mayonnaise
Wheat + Chicken breast + Cucumber + Honey mustard
Wheat + Chicken breast + Cucumber + Chili sauce
White + Meatball + Lettuce + Mayonnaise
White + Meatball + Lettuce + Honey mustard
White + Meatball + Lettuce + Chili sauce
White + Meatball + Tomato + Mayonnaise
White + Meatball + Tomato + Honey mustard
White + Meatball + Tomato + Chili sauce
White + Meatball + Cucumber + Mayonnaise
White + Meatball + Cucumber + Honey mustard
White + Meatball + Cucumber + Chili sauce
White + Sausages + Lettuce + Mayonnaise
White + Sausages + Lettuce + Honey mustard
White + Sausages + Lettuce + Chili sauce
White + Sausages + Tomato + Mayonnaise
White + Sausages + Tomato + Honey mustard
White + Sausages + Tomato + Chili sauce
White + Sausages + Cucumber + Mayonnaise
White + Sausages + Cucumber + Honey mustard
White + Sausages + Cucumber + Chili sauce
White + Chicken breast + Lettuce + Mayonnaise
White + Chicken breast + Lettuce + Honey mustard
White + Chicken breast + Lettuce + Chili sauce
White + Chicken breast + Tomato + Mayonnaise
White + Chicken breast + Tomato + Honey mustard
White + Chicken breast + Tomato + Chili sauce
White + Chicken breast + Cucumber + Mayonnaise
White + Chicken breast + Cucumber + Honey mustard
White + Chicken breast + Cucumber + Chili sauce

# 32

In [99]:
n = int(input())
x = 1
for i in range(n) :
    
    if i % 2 != 1 :
        for j in range(n) :
            print('{:3d}'.format(x), end = '')
            x += 1
    else :
        for j in range(n,0,-1) :
            print('{:3d}'.format(x+j-1), end = '')
        x += n
    print()

5
  1  2  3  4  5
 10  9  8  7  6
 11 12 13 14 15
 20 19 18 17 16
 21 22 23 24 25

In [69]:
from random import randint

secret_num = randint(1, 100)

while True :
    user = int(input())
    if user > secret_num :
        print('Lower')
    elif user < secret_num :
        print('Higher')
    else :
        print('Answer')
        break

45
Lower
20
Higher
30
Lower
25
Higher
27
Lower
26
Answer

# 34

In [119]:
populationA = []
populationB = []

populationA = input().split()
populationB = input().split()
for i in range(len(populationA)) :
    populationA[i] = int(populationA[i])
    
for i in range(len(populationB)) : 
    populationB[i] = int(populationB[i])

populationA = tuple(populationA)
populationB = tuple(populationB)

oldA = sum(populationA[7:])
oldB = sum(populationB[7:])

sumA, sumB = sum(populationA), sum(populationB)
oldRateA, oldRateB = oldA / sumA, oldB / sumB
print('{:.3f} {:.3f}'.format(oldRateA, oldRateB))

100 150 230 120 180 100 140 95 81 21 4
300 420 530 420 300 40 5 1 1 1
0.165 0.001

100 150 230 120 180 100 140 95 81 21 4 <br>
300 420 530 420 300 40 5 1 1 1

# 35

In [122]:
records = []

records = input().split()
for i in range(len(records)) :
    records[i] = int(records[i])
records = tuple(records)

count = 0
for i in range(len(records) - 1) :
    if records[i] > records[i + 1] :
        count += 1
print(count)

100 121 120 130 140 120 122 123 190 125
3

In [ ]:
100 121 120 130 140 120 122 123 190 125

# 36

In [149]:
tup = []

tup = input().split()
for i in range(len(tup)) :
    tup[i] = int(tup[i])

tup.sort()
tup = tuple(tup)
most_frequent = tup[0]
for i in range(len(tup)) :
    if most_frequent < tup[i] and tup.count(most_frequent) <= tup.count(tup[i]) :
        most_frequent = tup[i]
        
print(most_frequent)

1 2 5 4 3 2 1 4 7 8 9 9 3 7 3 9 1 1 1
1

In [ ]:
1 2 5 4 3 2 1 4 7 8 9 9 3 7 3 9

# 37

In [152]:
lst = [(), (1,), [], 'abc', (), (), (1,), ('a',), ('a', 'b'), ((),), '']
temp = []
for i in lst :
    if len(i) != 0 :
        temp.append(i)
        
print(temp)

[(1,), 'abc', (1,), ('a',), ('a', 'b'), ((),)]

# 38

In [2]:
while True :
    play = input('Do you want to continue the game? (yes, no): ')
    if play == 'no' :
        print('Game Over')
        break
        
    else :
        while True :
            choice = input('Choose among scissors, rock, paper> ')
            if choice in ['scissors', 'rock', 'paper'] :
                print(choice)
                break

Do you want to continue the game? (yes, no): yes
Choose among scissors, rock, paper> si
Choose among scissors, rock, paper> scissors
scissors
Do you want to continue the game? (yes, no): no
Game Over

In [4]:
print('10 // 8 =', 10 // 8)
print('10 % 8 =', 10 % 8)

10 // 8 = 1
10 % 8 = 2

In [5]:
x, y = 54, 32
print(x + y)
print(x - y)
print(x * y)
print(x / y)

86
22
1728
1.6875

In [7]:
while True :
    a = int(input())
    b = int(input())
    if a > 0 and b > 0 :
        break

print('{}+{}={}'.format(a, b, a + b))
print('{}-{}={}'.format(a, b, a - b))

54
-43
54
32
54+32=86
54-32=22

In [10]:
while True :
    N = int(input())
    if 2 <= N <= 100 :
        break
        
for i in range(1, 10) :
    print(i * N)

2
2
4
6
8
10
12
14
16
18

In [12]:
while True :
    A, B, C = input().split()
    A, B, C = int(A), int(B), int(C)
    
    if 2 <= A <= 100 and 2 <= B <= 100 and 2 <= C <= 100 :
        break
        
print(A + B + C)
print(A - B - C)
print(A * B * C)
print(A / B / C)

6 3 2
11
1
36
1.0

In [14]:
x, y = input().split()

print('{}:{}'.format(x, ord(x)))
print('{}:{}'.format(y, ord(y)))

A Z
A:65
Z:90

In [16]:
lst = []
for i in range(5) :
    x = int(input())
    lst.append(x)

summ = 0
for i in lst :
    summ += i
    print(summ)

5
8
7
8
11
5
13
20
28
39

In [18]:
R1, S = input().split()
R1, S = int(R1), int(S)

R2 = S * 2 - R1
print(R2)

4 3
2

In [34]:
A, B = input().split()
A, B = int(A), int(B)
C = int(input())

hours = A * 60
minutes = B + C

total = hours + minutes

hours = total // 60
minutes = (total % 60)

if hours > 23 :
    hours = hours - 24
    
print(hours, minutes)

23 58
22
0 20